<div class="card-container">
  <div class="image-area">
    <input [(ngModel)]="card.image" name="image" placeholder="Image URL" required />
  </div>
  <div class="info-area">
    <div class="info-field">
      <input [(ngModel)]="card.name" name="name" placeholder="Name" required />
    </div>
    <div class="info-field">
      <input [(ngModel)]="card.beltRank" name="beltRank" placeholder="Belt Rank" required />
    </div>
    <div class="info-field">
      <input [(ngModel)]="card.achievement" name="achievement" placeholder="Achievement" required />
    </div>
    <div class="info-field">
      <input [(ngModel)]="card.clubName" name="clubName" placeholder="Club Name" required />
    </div>
  </div>
</div>
<button type="submit" class="create-button" (click)="createCard()">Create Card</button>
